/* 
## Colors

### Primary

- Tomato: hsl(4, 100%, 67%)

### Neutral

- Dark Slate Grey: hsl(234, 29%, 20%)
- Charcoal Grey: hsl(235, 18%, 26%)
- Grey: hsl(231, 7%, 60%)
- White: hsl(0, 0%, 100%)
 */

* {
  font-family: "Roboto", sans-serif;
  color: hsl(234, 29%, 20%);
}

body {
  margin: 0;
}

.hidden {
  display: none !important;
}

.input-error {
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid red !important;
}

.page1-text-content {
  margin: 1.6em;
  margin-top: 1.7em;
  /* border: 1px solid black; */
}

.heading {
  font-size: 2.5em;
}

.page1-heading {
  margin-bottom: 1.3rem;
}

.list-container {
  line-height: 1.5;
}

.list-heading {
  margin-bottom: 1.36rem;
}

.list {
  list-style-image: url("./assets/images/icon-list.svg");
  padding-left: 1.8em;
}

.list li p {
  margin-left: 0.4em;
  margin-top: 0;
  margin-bottom: 0.33em;
  transform: translateY(-5px);
}

.form-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.email-input-label-container {
  display: flex;
  justify-content: space-between;
}

.email-input-label {
  font-size: small;
  font-weight: bold;
}

.email-input-error {
  color: red;
}

.email-input {
  width: calc(100% - (1.2em * 2));
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 1.1em;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 8px;
  outline: none;
  font-size: medium;
}

.email-input:focus {
  border: 1px solid hsl(235, 18%, 26%);
}

.btn {
  width: 100%;
  border: none;
  margin-top: 1rem;
  padding: 1.2rem;
  border-radius: 8px;
  background-color: hsl(234, 29%, 20%);
  color: white;
  font-size: medium;
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow 0.1s;
}

.btn:hover,
.btn:active {
  -webkit-tap-highlight-color: transparent;
  background: linear-gradient(to right, hsl(347, 100%, 66%), hsl(12, 100%, 63%));
  box-shadow: 0 1px 1px hsl(4, 100%, 94%), 0 2px 2px hsl(4, 100%, 94%), 0 4px 4px hsl(4, 100%, 94%),
    0 8px 8px hsl(4, 100%, 94%), 0 16px 16px hsl(4, 100%, 94%), 0 32px 32px hsl(4, 100%, 94%);
}

.page2 {
  margin: 1.6em;
  margin-top: 0;
  margin-bottom: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page2-heading {
  margin-top: 2.2rem;
  margin-bottom: 1.3rem;
}

.page2-message {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-email {
  font-weight: bold;
}

.dismiss-btn-container {
  padding-bottom: 2em;
}

.attribution {
  font-size: 11px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: max-content;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 376px) {
  main {
    background-color: hsl(235, 18%, 26%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page1 {
    background-color: white;
    margin: 1rem;
    padding: 1.6rem;
    border-radius: 1.6em;
    display: flex;
    flex-direction: row-reverse;
  }

  .page1-text-content {
    padding-right: 2.5em;
    padding-left: 0.6em;
    max-width: 25em;
  }

  .heading {
    font-size: 3.5em;
  }

  .page2 {
    background-color: white;
    height: fit-content;
    max-width: 22em;
    margin: 1rem;
    padding: 3.5em;
    border-radius: 2.7em;
  }

  .dismiss-btn-container {
    padding: 0;
    padding-top: 1.4em;
  }

  .attribution {
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
  }

  .attribution a {
    color: hsl(12, 100%, 63%);
  }
}

@media screen and (min-width: 376px) and (max-width: 940px) {
  .page1-image {
    display: none;
  }

  .page1-text-content {
    padding: 0.2rem;
  }
}
